:root {

  /* Colors */

  /* Blue */
  --blue-one: #3E78B2 !important;
  --blue-two: #2E4057 !important;
  --blue-three: #263548 !important;
  --blue-four: #1E2938 !important;

  /* Green */
  --green-one: #81B298 !important;
  --green-two: #66A182 !important;
  --green-three: #54846B !important;

  /* Red */
  --red-one: #FF787C !important;
  --red-two: #FF5A5F !important;
  --red-three: #D14A4E !important;

  /* White */
  --white-one: #F5F5F5 !important;
  --white-two: #C9C9C9 !important;
  --white-three: #9C9C9C !important;

  /* Black */
  --black-one: #262626 !important;
  --black-two: #202020 !important;
  --black-three: #191919 !important;

  /* Gray */
  --gray-one: #393E41 !important;
  --gray-two: #5D6163 !important;

  /* Yellow */
  --yellow-one: #FFCC66 !important;
  --yellow-two: #8C6A26 !important;


  /* Font */
  --font: 'Quicksand' !important;

}